:root {
  --gray-1: hsl(0 0% 99%);
  --gray-2: hsl(0 0% 98%);
  --gray-3: hsl(0 0% 94%);
  --gray-4: hsl(0 0% 91%);
  --gray-5: hsl(0 0% 88%);
  --gray-6: hsl(0 0% 85%);
  --gray-7: hsl(0 0% 81%);
  --gray-8: hsl(0 0% 73%);
  --gray-9: hsl(0 0% 55%);
  --gray-10: hsl(0 0% 51%);
  --gray-11: hsl(0 0% 39%);
  --gray-12: hsl(0 0% 13%);

  --mauve-1: hsl(300 20% 99%);
  --mauve-2: hsl(270 20% 98%);
  --mauve-3: hsl(285 14% 95%);
  --mauve-4: hsl(276 12% 92%);
  --mauve-5: hsl(274 12% 89%);
  --mauve-6: hsl(263 11% 86%);
  --mauve-7: hsl(258 11% 82%);
  --mauve-8: hsl(249 10% 75%);
  --mauve-9: hsl(249 6% 57%);
  --mauve-10: hsl(250 5% 53%);
  --mauve-11: hsl(252 5% 41%);
  --mauve-12: hsl(257 10% 14%);

  --slate-1: hsl(240 20% 99%);
  --slate-2: hsl(240 20% 98%);
  --slate-3: hsl(240 11% 95%);
  --slate-4: hsl(240 10% 92%);
  --slate-5: hsl(230 11% 89%);
  --slate-6: hsl(240 10% 86%);
  --slate-7: hsl(233 10% 82%);
  --slate-8: hsl(231 10% 75%);
  --slate-9: hsl(231 6% 57%);
  --slate-10: hsl(226 5% 53%);
  --slate-11: hsl(220 6% 40%);
  --slate-12: hsl(210 13% 13%);

  --sage-1: hsl(150 33% 99%);
  --sage-2: hsl(150 14% 97%);
  --sage-3: hsl(160 10% 94%);
  --sage-4: hsl(160 6% 91%);
  --sage-5: hsl(140 5% 88%);
  --sage-6: hsl(160 4% 85%);
  --sage-7: hsl(150 4% 80%);
  --sage-8: hsl(150 3% 73%);
  --sage-9: hsl(158 3% 54%);
  --sage-10: hsl(158 3% 50%);
  --sage-11: hsl(160 3% 38%);
  --sage-12: hsl(154 12% 12%);

  --olive-1: hsl(120 20% 99%);
  --olive-2: hsl(120 17% 98%);
  --olive-3: hsl(120 7% 94%);
  --olive-4: hsl(120 4% 91%);
  --olive-5: hsl(120 5% 88%);
  --olive-6: hsl(120 4% 85%);
  --olive-7: hsl(120 3% 81%);
  --olive-8: hsl(105 3% 73%);
  --olive-9: hsl(103 3% 54%);
  --olive-10: hsl(103 3% 50%);
  --olive-11: hsl(110 3% 38%);
  --olive-12: hsl(108 8% 12%);

  --sand-1: hsl(60 20% 99%);
  --sand-2: hsl(60 8% 97%);
  --sand-3: hsl(30 7% 94%);
  --sand-4: hsl(40 6% 91%);
  --sand-5: hsl(45 6% 88%);
  --sand-6: hsl(45 5% 85%);
  --sand-7: hsl(48 5% 80%);
  --sand-8: hsl(51 5% 72%);
  --sand-9: hsl(60 3% 54%);
  --sand-10: hsl(60 2% 50%);
  --sand-11: hsl(60 3% 38%);
  --sand-12: hsl(48 8% 12%);

  --gold-1: hsl(60 20% 99%);
  --gold-2: hsl(53 44% 96%);
  --gold-3: hsl(49 30% 93%);
  --gold-4: hsl(44 26% 89%);
  --gold-5: hsl(43 23% 85%);
  --gold-6: hsl(41 24% 80%);
  --gold-7: hsl(40 24% 73%);
  --gold-8: hsl(37 24% 64%);
  --gold-9: hsl(36 20% 49%);
  --gold-10: hsl(37 20% 46%);
  --gold-11: hsl(36 20% 37%);
  --gold-12: hsl(38 16% 20%);

  --bronze-1: hsl(0 20% 99%);
  --bronze-2: hsl(15 67% 98%);
  --bronze-3: hsl(15 40% 94%);
  --bronze-4: hsl(19 33% 91%);
  --bronze-5: hsl(18 29% 87%);
  --bronze-6: hsl(18 29% 82%);
  --bronze-7: hsl(17 27% 76%);
  --bronze-8: hsl(16 25% 68%);
  --bronze-9: hsl(18 20% 54%);
  --bronze-10: hsl(16 18% 50%);
  --bronze-11: hsl(15 20% 41%);
  --bronze-12: hsl(12 22% 22%);

  --brown-1: hsl(30 50% 99%);
  --brown-2: hsl(30 50% 98%);
  --brown-3: hsl(28 45% 94%);
  --brown-4: hsl(29 43% 90%);
  --brown-5: hsl(29 45% 86%);
  --brown-6: hsl(29 45% 81%);
  --brown-7: hsl(29 47% 74%);
  --brown-8: hsl(28 45% 65%);
  --brown-9: hsl(28 34% 51%);
  --brown-10: hsl(26 32% 48%);
  --brown-11: hsl(24 30% 39%);
  --brown-12: hsl(19 15% 21%);

  --yellow-1: hsl(60 50% 98%);
  --yellow-2: hsl(54 91% 95%);
  --yellow-3: hsl(56 100% 86%);
  --yellow-4: hsl(53 100% 79%);
  --yellow-5: hsl(50 100% 72%);
  --yellow-6: hsl(48 85% 68%);
  --yellow-7: hsl(46 70% 65%);
  --yellow-8: hsl(45 65% 53%);
  --yellow-9: hsl(53 100% 58%);
  --yellow-10: hsl(52 100% 50%);
  --yellow-11: hsl(41 100% 31%);
  --yellow-12: hsl(42 39% 20%);

  --amber-1: hsl(40 60% 99%);
  --amber-2: hsl(51 91% 95%);
  --amber-3: hsl(52 100% 88%);
  --amber-4: hsl(50 100% 81%);
  --amber-5: hsl(50 94% 73%);
  --amber-6: hsl(46 84% 70%);
  --amber-7: hsl(42 75% 65%);
  --amber-8: hsl(38 75% 55%);
  --amber-9: hsl(42 100% 62%);
  --amber-10: hsl(42 100% 55%);
  --amber-11: hsl(35 100% 34%);
  --amber-12: hsl(24 40% 22%);

  --orange-1: hsl(20 60% 99%);
  --orange-2: hsl(33 100% 96%);
  --orange-3: hsl(37 100% 92%);
  --orange-4: hsl(34 100% 85%);
  --orange-5: hsl(33 100% 80%);
  --orange-6: hsl(30 100% 75%);
  --orange-7: hsl(27 87% 71%);
  --orange-8: hsl(25 80% 63%);
  --orange-9: hsl(23 93% 53%);
  --orange-10: hsl(24 100% 47%);
  --orange-11: hsl(23 100% 40%);
  --orange-12: hsl(16 50% 23%);

  --tomato-1: hsl(0 100% 99%);
  --tomato-2: hsl(8 100% 98%);
  --tomato-3: hsl(10 92% 95%);
  --tomato-4: hsl(12 100% 91%);
  --tomato-5: hsl(11 100% 88%);
  --tomato-6: hsl(11 95% 84%);
  --tomato-7: hsl(10 82% 78%);
  --tomato-8: hsl(10 75% 70%);
  --tomato-9: hsl(10 78% 54%);
  --tomato-10: hsl(10 73% 51%);
  --tomato-11: hsl(10 82% 45%);
  --tomato-12: hsl(8 50% 24%);

  --red-1: hsl(0 100% 99%);
  --red-2: hsl(0 100% 98%);
  --red-3: hsl(357 90% 96%);
  --red-4: hsl(358 100% 93%);
  --red-5: hsl(359 100% 90%);
  --red-6: hsl(359 94% 87%);
  --red-7: hsl(359 77% 81%);
  --red-8: hsl(359 70% 74%);
  --red-9: hsl(358 75% 59%);
  --red-10: hsl(358 69% 55%);
  --red-11: hsl(358 65% 49%);
  --red-12: hsl(351 63% 24%);

  --ruby-1: hsl(340 100% 99%);
  --ruby-2: hsl(353 100% 98%);
  --ruby-3: hsl(351 91% 96%);
  --ruby-4: hsl(351 100% 93%);
  --ruby-5: hsl(350 100% 90%);
  --ruby-6: hsl(351 80% 86%);
  --ruby-7: hsl(349 68% 81%);
  --ruby-8: hsl(348 61% 74%);
  --ruby-9: hsl(348 75% 59%);
  --ruby-10: hsl(347 70% 55%);
  --ruby-11: hsl(345 70% 47%);
  --ruby-12: hsl(344 63% 24%);

  --crimson-1: hsl(0 100% 99%);
  --crimson-2: hsl(0 100% 98%);
  --crimson-3: hsl(357 90% 96%);
  --crimson-4: hsl(358 100% 93%);
  --crimson-5: hsl(359 100% 90%);
  --crimson-6: hsl(359 94% 87%);
  --crimson-7: hsl(359 77% 81%);
  --crimson-8: hsl(359 70% 74%);
  --crimson-9: hsl(358 75% 59%);
  --crimson-10: hsl(358 69% 55%);
  --crimson-11: hsl(358 65% 49%);
  --crimson-12: hsl(351 63% 24%);

  --pink-1: hsl(320 100% 99%);
  --pink-2: hsl(326 78% 98%);
  --pink-3: hsl(326 91% 95%);
  --pink-4: hsl(323 79% 92%);
  --pink-5: hsl(323 69% 89%);
  --pink-6: hsl(323 60% 84%);
  --pink-7: hsl(323 55% 79%);
  --pink-8: hsl(322 52% 72%);
  --pink-9: hsl(322 65% 55%);
  --pink-10: hsl(322 61% 52%);
  --pink-11: hsl(322 65% 46%);
  --pink-12: hsl(320 70% 23%);

  --plum-1: hsl(280 100% 99%);
  --plum-2: hsl(300 60% 98%);
  --plum-3: hsl(300 67% 95%);
  --plum-4: hsl(298 65% 92%);
  --plum-5: hsl(298 59% 89%);
  --plum-6: hsl(296 53% 84%);
  --plum-7: hsl(294 49% 78%);
  --plum-8: hsl(292 48% 71%);
  --plum-9: hsl(292 45% 51%);
  --plum-10: hsl(292 44% 48%);
  --plum-11: hsl(292 45% 44%);
  --plum-12: hsl(291 58% 23%);

  --purple-1: hsl(300 50% 99%);
  --purple-2: hsl(274 78% 98%);
  --purple-3: hsl(275 89% 96%);
  --purple-4: hsl(277 81% 94%);
  --purple-5: hsl(275 75% 91%);
  --purple-6: hsl(275 69% 86%);
  --purple-7: hsl(273 62% 81%);
  --purple-8: hsl(272 60% 74%);
  --purple-9: hsl(272 51% 54%);
  --purple-10: hsl(272 45% 50%);
  --purple-11: hsl(272 45% 49%);
  --purple-12: hsl(270 50% 25%);

  --violet-1: hsl(270 50% 99%);
  --violet-2: hsl(257 100% 99%);
  --violet-3: hsl(257 88% 97%);
  --violet-4: hsl(256 100% 95%);
  --violet-5: hsl(253 100% 93%);
  --violet-6: hsl(252 96% 89%);
  --violet-7: hsl(252 76% 84%);
  --violet-8: hsl(252 69% 76%);
  --violet-9: hsl(252 56% 57%);
  --violet-10: hsl(252 50% 54%);
  --violet-11: hsl(252 43% 52%);
  --violet-12: hsl(249 43% 26%);

  --iris-1: hsl(240 100% 100%);
  --iris-2: hsl(240 100% 99%);
  --iris-3: hsl(236 88% 97%);
  --iris-4: hsl(238 100% 95%);
  --iris-5: hsl(237 100% 93%);
  --iris-6: hsl(238 100% 90%);
  --iris-7: hsl(238 82% 85%);
  --iris-8: hsl(238 74% 77%);
  --iris-9: hsl(240 60% 60%);
  --iris-10: hsl(240 55% 56%);
  --iris-11: hsl(242 50% 55%);
  --iris-12: hsl(238 43% 27%);

  --indigo-1: hsl(240 33% 99%);
  --indigo-2: hsl(225 100% 98%);
  --indigo-3: hsl(222 89% 96%);
  --indigo-4: hsl(224 100% 94%);
  --indigo-5: hsl(224 100% 91%);
  --indigo-6: hsl(225 100% 88%);
  --indigo-7: hsl(226 87% 82%);
  --indigo-8: hsl(226 75% 75%);
  --indigo-9: hsl(226 70% 55%);
  --indigo-10: hsl(226 65% 52%);
  --indigo-11: hsl(226 56% 50%);
  --indigo-12: hsl(226 50% 24%);

  --blue-1: hsl(210 100% 99%);
  --blue-2: hsl(207 100% 98%);
  --blue-3: hsl(205 92% 95%);
  --blue-4: hsl(203 100% 92%);
  --blue-5: hsl(206 100% 88%);
  --blue-6: hsl(207 93% 83%);
  --blue-7: hsl(207 85% 76%);
  --blue-8: hsl(206 82% 65%);
  --blue-9: hsl(206 100% 50%);
  --blue-10: hsl(207 96% 48%);
  --blue-11: hsl(208 88% 43%);
  --blue-12: hsl(216 71% 23%);

  --cyan-1: hsl(195 67% 99%);
  --cyan-2: hsl(187 53% 97%);
  --cyan-3: hsl(184 69% 92%);
  --cyan-4: hsl(187 71% 88%);
  --cyan-5: hsl(187 66% 83%);
  --cyan-6: hsl(188 61% 76%);
  --cyan-7: hsl(189 58% 68%);
  --cyan-8: hsl(189 60% 53%);
  --cyan-9: hsl(191 100% 39%);
  --cyan-10: hsl(191 93% 38%);
  --cyan-11: hsl(192 81% 33%);
  --cyan-12: hsl(192 69% 17%);

  --teal-1: hsl(165 67% 99%);
  --teal-2: hsl(165 50% 97%);
  --teal-3: hsl(167 63% 93%);
  --teal-4: hsl(166 62% 88%);
  --teal-5: hsl(168 54% 82%);
  --teal-6: hsl(168 48% 75%);
  --teal-7: hsl(170 43% 66%);
  --teal-8: hsl(172 42% 53%);
  --teal-9: hsl(173 80% 36%);
  --teal-10: hsl(173 85% 33%);
  --teal-11: hsl(172 100% 26%);
  --teal-12: hsl(174 65% 15%);

  --jade-1: hsl(160 60% 99%);
  --jade-2: hsl(146 47% 97%);
  --jade-3: hsl(145 52% 94%);
  --jade-4: hsl(149 49% 89%);
  --jade-5: hsl(152 46% 84%);
  --jade-6: hsl(154 43% 77%);
  --jade-7: hsl(159 41% 68%);
  --jade-8: hsl(164 42% 53%);
  --jade-9: hsl(164 60% 40%);
  --jade-10: hsl(164 60% 37%);
  --jade-11: hsl(164 61% 32%);
  --jade-12: hsl(160 34% 17%);

  --green-1: hsl(140 60% 99%);
  --green-2: hsl(137 47% 97%);
  --green-3: hsl(139 47% 93%);
  --green-4: hsl(140 49% 89%);
  --green-5: hsl(142 44% 84%);
  --green-6: hsl(144 41% 77%);
  --green-7: hsl(146 40% 68%);
  --green-8: hsl(151 40% 54%);
  --green-9: hsl(151 55% 42%);
  --green-10: hsl(152 56% 39%);
  --green-11: hsl(154 60% 32%);
  --green-12: hsl(155 40% 16%);

  --grass-1: hsl(120 60% 99%);
  --grass-2: hsl(120 43% 97%);
  --grass-3: hsl(120 42% 94%);
  --grass-4: hsl(123 45% 90%);
  --grass-5: hsl(122 40% 85%);
  --grass-6: hsl(124 39% 78%);
  --grass-7: hsl(126 37% 69%);
  --grass-8: hsl(131 38% 56%);
  --grass-9: hsl(131 41% 46%);
  --grass-10: hsl(131 43% 43%);
  --grass-11: hsl(132 50% 33%);
  --grass-12: hsl(131 30% 18%);

  --lime-1: hsl(80 43% 99%);
  --lime-2: hsl(77 41% 97%);
  --lime-3: hsl(75 64% 90%);
  --lime-4: hsl(76 63% 84%);
  --lime-5: hsl(78 58% 78%);
  --lime-6: hsl(80 50% 71%);
  --lime-7: hsl(82 43% 63%);
  --lime-8: hsl(85 40% 52%);
  --lime-9: hsl(81 80% 66%);
  --lime-10: hsl(81 75% 60%);
  --lime-11: hsl(85 45% 34%);
  --lime-12: hsl(75 39% 18%);

  --mint-1: hsl(168 71% 99%);
  --mint-2: hsl(167 53% 97%);
  --mint-3: hsl(165 70% 92%);
  --mint-4: hsl(165 67% 87%);
  --mint-5: hsl(165 60% 81%);
  --mint-6: hsl(166 52% 75%);
  --mint-7: hsl(167 46% 65%);
  --mint-8: hsl(168 45% 52%);
  --mint-9: hsl(167 70% 72%);
  --mint-10: hsl(167 61% 68%);
  --mint-11: hsl(170 97% 24%);
  --mint-12: hsl(171 51% 17%);

  --sky-1: hsl(190 100% 99%);
  --sky-2: hsl(195 75% 97%);
  --sky-3: hsl(195 88% 94%);
  --sky-4: hsl(195 80% 90%);
  --sky-5: hsl(195 73% 85%);
  --sky-6: hsl(197 65% 80%);
  --sky-7: hsl(197 61% 72%);
  --sky-8: hsl(198 60% 61%);
  --sky-9: hsl(193 98% 74%);
  --sky-10: hsl(194 90% 71%);
  --sky-11: hsl(196 100% 31%);
  --sky-12: hsl(205 50% 23%);

  --black: hsl(0 0% 0%);
  --black-alpha-1: hsl(0 0% 0% / 0.05);
  --black-alpha-2: hsl(0 0% 0% / 0.1);
  --black-alpha-3: hsl(0 0% 0% / 0.15);
  --black-alpha-4: hsl(0 0% 0% / 0.2);
  --black-alpha-5: hsl(0 0% 0% / 0.3);
  --black-alpha-6: hsl(0 0% 0% / 0.4);
  --black-alpha-7: hsl(0 0% 0% / 0.5);
  --black-alpha-8: hsl(0 0% 0% / 0.6);
  --black-alpha-9: hsl(0 0% 0% / 0.7);
  --black-alpha-10: hsl(0 0% 0% / 0.8);
  --black-alpha-11: hsl(0 0% 0% / 0.9);
  --black-alpha-12: hsl(0 0% 0% / 0.95);

  --white: hsl(0 0% 100%);
  --white-alpha-1: hsl(0 0% 100% / 0.05);
  --white-alpha-2: hsl(0 0% 100% / 0.1);
  --white-alpha-3: hsl(0 0% 100% / 0.15);
  --white-alpha-4: hsl(0 0% 100% / 0.2);
  --white-alpha-5: hsl(0 0% 100% / 0.3);
  --white-alpha-6: hsl(0 0% 100% / 0.4);
  --white-alpha-7: hsl(0 0% 100% / 0.5);
  --white-alpha-8: hsl(0 0% 100% / 0.6);
  --white-alpha-9: hsl(0 0% 100% / 0.7);
  --white-alpha-10: hsl(0 0% 100% / 0.8);
  --white-alpha-11: hsl(0 0% 100% / 0.9);
  --white-alpha-12: hsl(0 0% 100% / 0.95);
}

:root[data-theme='dark'] {
  --gray-1: hsl(0 0% 7%);
  --gray-2: hsl(0 0% 10%);
  --gray-3: hsl(0 0% 13%);
  --gray-4: hsl(0 0% 16%);
  --gray-5: hsl(0 0% 19%);
  --gray-6: hsl(0 0% 23%);
  --gray-7: hsl(0 0% 28%);
  --gray-8: hsl(0 0% 38%);
  --gray-9: hsl(0 0% 43%);
  --gray-10: hsl(0 0% 48%);
  --gray-11: hsl(0 0% 71%);
  --gray-12: hsl(0 0% 93%);

  --mauve-1: hsl(270 6% 7%);
  --mauve-2: hsl(270 4% 10%);
  --mauve-3: hsl(260 4% 14%);
  --mauve-4: hsl(270 5% 17%);
  --mauve-5: hsl(264 5% 20%);
  --mauve-6: hsl(270 5% 24%);
  --mauve-7: hsl(257 5% 29%);
  --mauve-8: hsl(258 5% 39%);
  --mauve-9: hsl(251 5% 45%);
  --mauve-10: hsl(251 4% 50%);
  --mauve-11: hsl(258 7% 72%);
  --mauve-12: hsl(240 6% 94%);

  --slate-1: hsl(240 6% 7%);
  --slate-2: hsl(220 6% 10%);
  --slate-3: hsl(225 6% 14%);
  --slate-4: hsl(210 7% 16%);
  --slate-5: hsl(214 7% 19%);
  --slate-6: hsl(213 8% 23%);
  --slate-7: hsl(213 8% 28%);
  --slate-8: hsl(212 8% 38%);
  --slate-9: hsl(219 6% 44%);
  --slate-10: hsl(222 5% 49%);
  --slate-11: hsl(216 7% 71%);
  --slate-12: hsl(220 9% 94%);

  --sage-1: hsl(150 6% 7%);
  --sage-2: hsl(150 4% 9%);
  --sage-3: hsl(150 3% 13%);
  --sage-4: hsl(160 4% 16%);
  --sage-5: hsl(160 3% 19%);
  --sage-6: hsl(150 4% 22%);
  --sage-7: hsl(156 4% 28%);
  --sage-8: hsl(154 4% 37%);
  --sage-9: hsl(157 6% 41%);
  --sage-10: hsl(160 5% 47%);
  --sage-11: hsl(158 5% 69%);
  --sage-12: hsl(150 6% 93%);

  --olive-1: hsl(90 6% 7%);
  --olive-2: hsl(90 4% 9%);
  --olive-3: hsl(90 3% 13%);
  --olive-4: hsl(100 4% 16%);
  --olive-5: hsl(100 3% 19%);
  --olive-6: hsl(90 4% 22%);
  --olive-7: hsl(96 4% 27%);
  --olive-8: hsl(111 4% 37%);
  --olive-9: hsl(108 5% 42%);
  --olive-10: hsl(107 4% 47%);
  --olive-11: hsl(105 5% 69%);
  --olive-12: hsl(120 6% 93%);

  --sand-1: hsl(60 3% 6%);
  --sand-2: hsl(60 2% 10%);
  --sand-3: hsl(60 1% 13%);
  --sand-4: hsl(60 2% 16%);
  --sand-5: hsl(60 3% 19%);
  --sand-6: hsl(45 4% 22%);
  --sand-7: hsl(48 4% 28%);
  --sand-8: hsl(43 4% 37%);
  --sand-9: hsl(47 4% 42%);
  --sand-10: hsl(53 3% 47%);
  --sand-11: hsl(45 5% 69%);
  --sand-12: hsl(60 6% 93%);

  --gold-1: hsl(60 3% 7%);
  --gold-2: hsl(45 8% 10%);
  --gold-3: hsl(48 7% 13%);
  --gold-4: hsl(43 8% 16%);
  --gold-5: hsl(42 10% 20%);
  --gold-6: hsl(38 9% 25%);
  --gold-7: hsl(39 9% 30%);
  --gold-8: hsl(38 10% 37%);
  --gold-9: hsl(36 20% 49%);
  --gold-10: hsl(36 21% 55%);
  --gold-11: hsl(35 30% 71%);
  --gold-12: hsl(36 25% 88%);

  --bronze-1: hsl(15 11% 7%);
  --bronze-2: hsl(24 10% 10%);
  --bronze-3: hsl(20 9% 14%);
  --bronze-4: hsl(20 10% 17%);
  --bronze-5: hsl(16 10% 21%);
  --bronze-6: hsl(16 11% 26%);
  --bronze-7: hsl(16 12% 32%);
  --bronze-8: hsl(18 12% 39%);
  --bronze-9: hsl(18 20% 54%);
  --bronze-10: hsl(18 23% 59%);
  --bronze-11: hsl(18 35% 74%);
  --bronze-12: hsl(21 36% 89%);

  --brown-1: hsl(40 9% 6%);
  --brown-2: hsl(20 12% 10%);
  --brown-3: hsl(22 16% 14%);
  --brown-4: hsl(26 19% 16%);
  --brown-5: hsl(25 22% 20%);
  --brown-6: hsl(26 24% 24%);
  --brown-7: hsl(26 26% 30%);
  --brown-8: hsl(28 28% 38%);
  --brown-9: hsl(28 34% 51%);
  --brown-10: hsl(27 36% 56%);
  --brown-11: hsl(28 50% 72%);
  --brown-12: hsl(35 61% 87%);

  --yellow-1: hsl(47 29% 6%);
  --yellow-2: hsl(45 29% 8%);
  --yellow-3: hsl(45 80% 10%);
  --yellow-4: hsl(48 100% 11%);
  --yellow-5: hsl(47 100% 13%);
  --yellow-6: hsl(48 95% 16%);
  --yellow-7: hsl(46 63% 25%);
  --yellow-8: hsl(45 60% 32%);
  --yellow-9: hsl(53 100% 58%);
  --yellow-10: hsl(60 100% 67%);
  --yellow-11: hsl(53 90% 62%);
  --yellow-12: hsl(53 79% 84%);

  --amber-1: hsl(36 29% 7%);
  --amber-2: hsl(39 32% 9%);
  --amber-3: hsl(36 71% 11%);
  --amber-4: hsl(37 100% 12%);
  --amber-5: hsl(37 100% 15%);
  --amber-6: hsl(39 90% 19%);
  --amber-7: hsl(37 64% 27%);
  --amber-8: hsl(36 60% 35%);
  --amber-9: hsl(42 100% 62%);
  --amber-10: hsl(50 100% 52%);
  --amber-11: hsl(46 100% 54%);
  --amber-12: hsl(41 100% 85%);

  --orange-1: hsl(27 24% 7%);
  --orange-2: hsl(28 33% 9%);
  --orange-3: hsl(28 65% 12%);
  --orange-4: hsl(28 100% 14%);
  --orange-5: hsl(28 100% 17%);
  --orange-6: hsl(27 79% 22%);
  --orange-7: hsl(25 63% 30%);
  --orange-8: hsl(23 60% 40%);
  --orange-9: hsl(23 93% 53%);
  --orange-10: hsl(26 100% 56%);
  --orange-11: hsl(26 100% 67%);
  --orange-12: hsl(30 100% 88%);

  --tomato-1: hsl(0 17% 8%);
  --tomato-2: hsl(10 24% 10%);
  --tomato-3: hsl(5 48% 15%);
  --tomato-4: hsl(4 64% 19%);
  --tomato-5: hsl(5 62% 23%);
  --tomato-6: hsl(7 55% 28%);
  --tomato-7: hsl(9 49% 35%);
  --tomato-8: hsl(10 50% 45%);
  --tomato-9: hsl(10 78% 54%);
  --tomato-10: hsl(11 82% 59%);
  --tomato-11: hsl(12 100% 75%);
  --tomato-12: hsl(10 86% 89%);

  --red-1: hsl(0 19% 8%);
  --red-2: hsl(355 25% 10%);
  --red-3: hsl(350 53% 15%);
  --red-4: hsl(348 68% 19%);
  --red-5: hsl(350 63% 23%);
  --red-6: hsl(352 53% 29%);
  --red-7: hsl(355 47% 37%);
  --red-8: hsl(358 45% 49%);
  --red-9: hsl(358 75% 59%);
  --red-10: hsl(360 79% 65%);
  --red-11: hsl(2 100% 79%);
  --red-12: hsl(350 100% 91%);

  --ruby-1: hsl(345 19% 8%);
  --ruby-2: hsl(347 18% 10%);
  --ruby-3: hsl(344 49% 15%);
  --ruby-4: hsl(342 61% 19%);
  --ruby-5: hsl(342 57% 24%);
  --ruby-6: hsl(344 50% 29%);
  --ruby-7: hsl(346 45% 37%);
  --ruby-8: hsl(348 45% 48%);
  --ruby-9: hsl(348 75% 59%);
  --ruby-10: hsl(350 79% 64%);
  --ruby-11: hsl(355 100% 79%);
  --ruby-12: hsl(340 96% 91%);

  --crimson-1: hsl(0 19% 8%);
  --crimson-2: hsl(355 25% 10%);
  --crimson-3: hsl(350 53% 15%);
  --crimson-4: hsl(348 68% 19%);
  --crimson-5: hsl(350 63% 23%);
  --crimson-6: hsl(352 53% 29%);
  --crimson-7: hsl(355 47% 37%);
  --crimson-8: hsl(358 45% 49%);
  --crimson-9: hsl(358 75% 59%);
  --crimson-10: hsl(360 79% 65%);
  --crimson-11: hsl(2 100% 79%);
  --crimson-12: hsl(350 100% 91%);

  --pink-1: hsl(315 19% 8%);
  --pink-2: hsl(316 29% 10%);
  --pink-3: hsl(315 41% 15%);
  --pink-4: hsl(315 58% 19%);
  --pink-5: hsl(318 52% 23%);
  --pink-6: hsl(319 44% 29%);
  --pink-7: hsl(321 40% 37%);
  --pink-8: hsl(322 40% 47%);
  --pink-9: hsl(322 65% 55%);
  --pink-10: hsl(323 68% 59%);
  --pink-11: hsl(327 100% 78%);
  --pink-12: hsl(326 92% 91%);

  --plum-1: hsl(300 17% 8%);
  --plum-2: hsl(300 25% 10%);
  --plum-3: hsl(300 34% 15%);
  --plum-4: hsl(297 42% 20%);
  --plum-5: hsl(296 40% 24%);
  --plum-6: hsl(296 34% 28%);
  --plum-7: hsl(294 31% 36%);
  --plum-8: hsl(292 30% 47%);
  --plum-9: hsl(292 45% 51%);
  --plum-10: hsl(292 48% 56%);
  --plum-11: hsl(292 79% 77%);
  --plum-12: hsl(300 59% 89%);

  --purple-1: hsl(282 23% 9%);
  --purple-2: hsl(279 25% 11%);
  --purple-3: hsl(279 36% 17%);
  --purple-4: hsl(277 39% 22%);
  --purple-5: hsl(276 38% 26%);
  --purple-6: hsl(275 35% 31%);
  --purple-7: hsl(274 33% 38%);
  --purple-8: hsl(273 33% 50%);
  --purple-9: hsl(272 51% 54%);
  --purple-10: hsl(272 55% 59%);
  --purple-11: hsl(272 100% 81%);
  --purple-12: hsl(275 77% 92%);

  --violet-1: hsl(249 27% 10%);
  --violet-2: hsl(262 28% 11%);
  --violet-3: hsl(257 37% 19%);
  --violet-4: hsl(256 42% 25%);
  --violet-5: hsl(254 39% 30%);
  --violet-6: hsl(255 36% 34%);
  --violet-7: hsl(254 33% 41%);
  --violet-8: hsl(252 34% 51%);
  --violet-9: hsl(252 56% 57%);
  --violet-10: hsl(252 60% 63%);
  --violet-11: hsl(253 100% 83%);
  --violet-12: hsl(249 94% 93%);

  --iris-1: hsl(240 22% 10%);
  --iris-2: hsl(244 25% 12%);
  --iris-3: hsl(237 38% 20%);
  --iris-4: hsl(236 45% 27%);
  --iris-5: hsl(237 41% 32%);
  --iris-6: hsl(239 36% 37%);
  --iris-7: hsl(240 34% 44%);
  --iris-8: hsl(241 36% 52%);
  --iris-9: hsl(240 60% 60%);
  --iris-10: hsl(242 64% 64%);
  --iris-11: hsl(246 100% 83%);
  --iris-12: hsl(242 94% 94%);

  --indigo-1: hsl(231 29% 9%);
  --indigo-2: hsl(230 31% 11%);
  --indigo-3: hsl(225 51% 19%);
  --indigo-4: hsl(225 54% 25%);
  --indigo-5: hsl(225 52% 30%);
  --indigo-6: hsl(226 47% 35%);
  --indigo-7: hsl(226 44% 41%);
  --indigo-8: hsl(226 45% 48%);
  --indigo-9: hsl(226 70% 55%);
  --indigo-10: hsl(228 73% 61%);
  --indigo-11: hsl(228 100% 81%);
  --indigo-12: hsl(224 100% 92%);

  --blue-1: hsl(215 42% 9%);
  --blue-2: hsl(218 39% 11%);
  --blue-3: hsl(212 69% 16%);
  --blue-4: hsl(209 100% 19%);
  --blue-5: hsl(207 100% 23%);
  --blue-6: hsl(209 79% 30%);
  --blue-7: hsl(211 66% 37%);
  --blue-8: hsl(211 65% 45%);
  --blue-9: hsl(206 100% 50%);
  --blue-10: hsl(210 100% 62%);
  --blue-11: hsl(210 100% 72%);
  --blue-12: hsl(205 100% 88%);

  --cyan-1: hsl(196 41% 7%);
  --cyan-2: hsl(199 33% 9%);
  --cyan-3: hsl(193 74% 12%);
  --cyan-4: hsl(193 100% 14%);
  --cyan-5: hsl(193 100% 17%);
  --cyan-6: hsl(192 93% 21%);
  --cyan-7: hsl(193 75% 28%);
  --cyan-8: hsl(192 80% 34%);
  --cyan-9: hsl(191 100% 39%);
  --cyan-10: hsl(191 71% 48%);
  --cyan-11: hsl(190 75% 60%);
  --cyan-12: hsl(190 80% 84%);

  --teal-1: hsl(173 24% 7%);
  --teal-2: hsl(175 24% 9%);
  --teal-3: hsl(174 55% 11%);
  --teal-4: hsl(176 93% 12%);
  --teal-5: hsl(175 80% 16%);
  --teal-6: hsl(174 63% 21%);
  --teal-7: hsl(174 58% 26%);
  --teal-8: hsl(173 59% 31%);
  --teal-9: hsl(173 80% 36%);
  --teal-10: hsl(172 85% 38%);
  --teal-11: hsl(170 90% 45%);
  --teal-12: hsl(163 69% 81%);

  --jade-1: hsl(158 24% 7%);
  --jade-2: hsl(156 22% 9%);
  --jade-3: hsl(157 51% 12%);
  --jade-4: hsl(161 69% 14%);
  --jade-5: hsl(161 62% 17%);
  --jade-6: hsl(162 53% 22%);
  --jade-7: hsl(162 49% 27%);
  --jade-8: hsl(164 50% 33%);
  --jade-9: hsl(164 60% 40%);
  --jade-10: hsl(164 64% 42%);
  --jade-11: hsl(163 75% 48%);
  --jade-12: hsl(155 69% 81%);

  --green-1: hsl(146 20% 7%);
  --green-2: hsl(130 13% 9%);
  --green-3: hsl(132 22% 14%);
  --green-4: hsl(134 33% 17%);
  --green-5: hsl(134 32% 21%);
  --green-6: hsl(133 32% 26%);
  --green-7: hsl(132 31% 31%);
  --green-8: hsl(131 32% 36%);
  --green-9: hsl(131 41% 46%);
  --green-10: hsl(131 39% 51%);
  --green-11: hsl(131 50% 63%);
  --green-12: hsl(120 61% 85%);

  --grass-1: hsl(146 20% 7%);
  --grass-2: hsl(130 13% 9%);
  --grass-3: hsl(132 22% 14%);
  --grass-4: hsl(134 33% 17%);
  --grass-5: hsl(134 32% 21%);
  --grass-6: hsl(133 32% 26%);
  --grass-7: hsl(132 31% 31%);
  --grass-8: hsl(131 32% 36%);
  --grass-9: hsl(131 41% 46%);
  --grass-10: hsl(131 39% 51%);
  --grass-11: hsl(131 50% 63%);
  --grass-12: hsl(120 61% 85%);

  --lime-1: hsl(77 23% 6%);
  --lime-2: hsl(90 24% 8%);
  --lime-3: hsl(93 28% 13%);
  --lime-4: hsl(92 31% 16%);
  --lime-5: hsl(91 32% 20%);
  --lime-6: hsl(92 32% 24%);
  --lime-7: hsl(91 33% 29%);
  --lime-8: hsl(90 35% 34%);
  --lime-9: hsl(81 80% 66%);
  --lime-10: hsl(78 100% 72%);
  --lime-11: hsl(80 70% 66%);
  --lime-12: hsl(80 79% 85%);

  --mint-1: hsl(180 20% 7%);
  --mint-2: hsl(180 29% 8%);
  --mint-3: hsl(178 66% 10%);
  --mint-4: hsl(178 100% 11%);
  --mint-5: hsl(177 100% 14%);
  --mint-6: hsl(175 69% 20%);
  --mint-7: hsl(173 55% 26%);
  --mint-8: hsl(170 53% 33%);
  --mint-9: hsl(167 70% 72%);
  --mint-10: hsl(168 79% 81%);
  --mint-11: hsl(167 60% 59%);
  --mint-12: hsl(156 71% 86%);

  --sky-1: hsl(217 41% 9%);
  --sky-2: hsl(215 39% 11%);
  --sky-3: hsl(211 58% 16%);
  --sky-4: hsl(208 67% 20%);
  --sky-5: hsl(206 66% 24%);
  --sky-6: hsl(205 64% 29%);
  --sky-7: hsl(203 65% 35%);
  --sky-8: hsl(200 75% 39%);
  --sky-9: hsl(193 98% 74%);
  --sky-10: hsl(192 100% 83%);
  --sky-11: hsl(200 80% 70%);
  --sky-12: hsl(192 100% 88%);
}
