.habit {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  gap: 12px;
  padding: 22px 14px 14px;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 24px;
}

.link {
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  justify-content: space-between;
  padding-inline: 6px;
  color: var(--neutral-12);
  text-decoration: none;
}

.link:focus-visible {
  text-decoration: underline;
  outline: none;
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
  }
}

.name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.chevron {
  width: 22px;
  height: 22px;
}

.dayList {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  container-type: inline-size;
}

.dayItem {
  display: block;
  flex: 0 0 auto;
}

.dayToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 40px;
  block-size: 40px;
  padding: 4px;
  color: var(--toggle-color);
  cursor: pointer;
  background-color: transparent;
  border-radius: 16px;
  transition: color 150ms;
}

@media (hover: hover) {
  .dayToggle:hover {
    color: var(--toggle-hover-color);
  }
}

.dayToggle svg {
  inline-size: 100%;
}

.muted {
  color: var(--muted-color);
}

.strength {
  position: absolute;
  inset-block-end: 0;
  inset-inline: 9px;
  block-size: 4px;
}

.strengthTrack {
  block-size: 100%;
}

.strengthBar {
  background: var(--strength-color);
  border-radius: 2px;
  transition: inline-size 150ms;
}

@media (width >= 600px) {
  .habit {
    grid-template-columns: 1fr 2fr;
    gap: 24px;
    align-items: center;
    min-block-size: 104px;
    padding-block: 24px;
    padding-inline: 30px;
  }

  .link {
    padding-inline: 0;
  }

  .chevron {
    display: none;
  }
}

@container (width <= 440px) {
  .dayItem:nth-child(1) {
    display: none;
  }
}

@container (width <= 400px) {
  .dayItem:nth-child(2) {
    display: none;
  }
}

@container (width <= 360px) {
  .dayItem:nth-child(3) {
    display: none;
  }
}

@container (width <= 320px) {
  .dayItem:nth-child(4) {
    display: none;
  }
}
