.main {
  padding-block-start: 24px;
  padding-inline: 12px;
}

.empty {
  display: grid;
  gap: 24px;
  justify-items: center;
  max-inline-size: 500px;
  margin: 200px auto 0;
  color: var(--neutral-11);
  text-align: center;
}

.habitList {
  display: grid;
  gap: 16px;
  max-inline-size: 800px;
  margin-block-start: 16px;
  margin-inline: auto;
}

@media (width >= 600px) {
  .habitList {
    margin-block-start: 20px;
  }
}
