.main {
  padding: 24px;
}

.empty {
  display: grid;
  gap: 24px;
  justify-items: center;
  max-inline-size: 500px;
  margin: 200px auto 0;
  color: var(--neutral-11);
  text-align: center;
}

.dialogDescription {
  margin-block-start: 12px;
}

.dialogActions {
  display: flex;
  gap: 8px;
  justify-content: end;
  margin-block-start: 24px;
}

@media (width >= 600px) {
  .main {
    padding-block-start: 20px;
  }

  .dialogActions {
    gap: 12px;
  }
}
