.button {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  min-block-size: 40px;
  padding: 12px 24px;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  transition:
    color 150ms,
    background-color 150ms,
    border-color 150ms,
    translate 150ms;
}

.button:active {
  translate: 0 1px;
}

.button[data-disabled] {
  color: var(--neutral-8);
  cursor: auto;
  translate: none;
}

.icon {
  display: flex;
  flex: 0 0 16px;
  align-items: center;
  justify-content: center;
  inline-size: 16px;
  block-size: 16px;
}

.filled {
  color: var(--inverse);
}

.filled:where(.neutral) {
  background-color: var(--neutral-9);
}

@media (hover: hover) {
  .filled:where(.neutral):hover {
    background-color: var(--neutral-10);
  }
}

.filled:where(.danger) {
  background-color: var(--danger-9);
}

@media (hover: hover) {
  .filled:where(.danger):hover {
    background-color: var(--danger-10);
  }
}

.filled[data-disabled] {
  background-color: var(--neutral-3);
}

.muted {
  border: 2px solid;
}

.muted:where(.neutral) {
  color: var(--neutral-12);
  background-color: var(--neutral-2);
  border-color: var(--neutral-8);
}

@media (hover: hover) {
  .muted:where(.neutral):hover {
    background-color: var(--neutral-3);
  }
}

.muted:where(.danger) {
  color: var(--danger-11);
  background-color: var(--danger-2);
  border-color: var(--danger-7);
}

@media (hover: hover) {
  .muted:where(.danger):hover {
    background-color: var(--danger-3);
  }
}

.muted[data-disabled] {
  background-color: var(--neutral-2);
  border-color: var(--disabled-4);
}

.ghost {
  background-color: transparent;
}

.ghost:where(.neutral) {
  color: var(--neutral-12);
}

@media (hover: hover) {
  .ghost:where(.neutral):hover {
    background-color: var(--neutral-3);
  }
}

.ghost:where(.danger) {
  color: var(--danger-11);
}

@media (hover: hover) {
  .ghost:where(.danger):hover {
    background-color: var(--danger-3);
  }
}

.ghost[data-disabled] {
  background-color: transparent;
}
